.section {
	background-color: #010018;
	width: 100%;
	margin-top: 70px;
}
.container {
    padding-top: 70px;
}

.title {
	text-align: center;
	color: white;
    
	span {
		font-style: normal;
		background: -webkit-linear-gradient(
			45deg,
			#7549f2,
			#df58d2,
			#ed787c,
			#ed787c
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 600;
	}
}
.content {
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.right__content {
	display: flex;
	flex-direction: column;
	gap: 0; 
}

.stepWrapper {
	display: flex;
	flex-direction: column;
}
.step {
	display: flex;
	align-items: center;
	gap: 10px;
    max-width: 280px;
    line-height: 1.5;
}
.stepIcon {
    margin-right: 10px;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	margin: 8px 0;
}
.left__content {
    margin-left: 200px;
}