* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SF', sans-serif;
}
@font-face {
	font-family: 'SF';
	src: url('/fonts/SFProText-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
